body {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin: 0px;
}

header {
	padding: 20px 100px 300px 100px;
	color: white;
	margin: 0px;
	font-size: 24px;
}

nav.logo {
	font-size: 24px;
	font-weight: 800;
	text-align: left;
	color: white;
}

header.image_style {
	text-align: center;
	background-image: url("images/header_bg.jpg");
	background-size: cover;
}


header.blog_style {
	background-color: #033048;
	padding: 10px 50px;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	font-size: 18px;
}


header.blog_style nav.links ul {	
	display: flex;
	justify-content: space-between;
	justify-content: flex-end;
	color: #f9e42e;
}

header.blog_style li {
	padding: 20px;
}

button {
	font-weight: 800;
	padding: 10px 50px;
	border-radius: 5px;
}

.image_style h1 {
	font-weight: 600;
	padding: 100px 25px;
}

.company_info {
	background-color: #121212;
	margin: 0px;
}

.company_info h1 {
	color: #f9e42e;
	font-size: 24px;
	font-weight: 800;
	margin: 0px;
	padding: 40px;
}


.benefits {
	font-weight: 300;
	font-size: 13px;
	background-color: #f0efef;
	text-align: left;
	padding: 100px 150px 100px 50px;
	color: #606161;
}

.benefits h2 {
	color: #033048;
	font-weight: 600;
	font-size: 20px;
	padding-bottom: 20px;
}

.benefits ul {
	margin: 0px;
	padding: 30px 40px 20px;
}

.benefits ul li {
	padding: 5px;
}

.testimony {
	background-image: url("images/testimonial_bg.jpg");
	color: white;
	font-size: 18px;
	text-align: center;
}

.testimony blockquote {
	font-style: italic;
	font-weight: 300;
	margin: 0px;
	padding: 100px 400px;
	line-height: 1.5;
}

.testimony p {
	text-align: justify;
}

.testimony em {
	font-weight: 600;
	font-style: normal;
}

section.feature_section {
	display: flex;
	justify-content: space-between;
	padding: 50px;
}

main.blog_posts {
	display: flex;
	width: 700px;
	flex-wrap: wrap;
}

.post {
	border-bottom: 1px black solid;
}

aside {
	display: flex;
	flex-wrap: wrap;
	width: 240px;
}

button.get_it_now {
	font-size: 14px;
	background-color: #f9e42e;
	border-color: #f9e42e;
	color: #033048;
	font-weight: 800;
}

button.sign_up {
	font-size: 12px;
	background-color: #033048;
	border-color: #033048;
	color: white;
}

.mail {
	background-color: #f9e42e;
	padding: 20px;
}


ul.social {
	font-size: 40px;
	color: white;
	padding: 5px;
}

ul.social li {
	display: inline-block;
	padding: 10px;
}

footer {
	font-size: 9px;
	font-weight: 600;
	color: white;
	background-color: #121212;
	padding: 30px;
}